.col-lg-offset-2.col-md-offset-1.col-sm-offset-1
  .col-lg-8.col-md-10.col-sm-10.col-xs-12.user-title-area
    -# section for gravatar
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
      .pull-right #{image_tag user.gravatar_url}
    -# section for user description
    .col-lg-8.col-md-8.col-sm-8.col-xs-8
      %h2 #{ user.firstname } #{ user.lastname }
      -# conditional for missing last login date
      - if user.try(:last_sign_in_at).try(:strftime, "%e %B %Y") == nil
        %p.text-muted You never logged in.
      - else
        %p.text-muted Last time of your visit was on #{ user.last_sign_in_at.strftime("%A, %e %B %Y") }
      %p.text-muted You have #{ pluralize(user.reviews.size, 'review') } and #{ pluralize(user.products.size, 'item') } posted.

.col-lg-offset-2.col-md-offset-1.col-sm-offset-1
  .col-lg-8.col-md-10.col-sm-10.col-xs-12
    .row
      -# section for items
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        %h3.text-center.item-review-title-font Your newest items.
        -if user.products.size == 0
          -# message for no products
          .user-item-review-area
            %h4.text-center You didn't post any products yet.
        - else
          -# loop showing last 5 products
          - user.products.limit(5).each do |product|
            .user-item-review-area
              %h4.text-center.user-item-text= product.title.upcase
              %p.text-center.text-muted= product.created_at.strftime("%e %B %Y")
              %p.text-center.text-muted There are #{ pluralize(product.reviews.size, 'review' )} for your product.

      -# section for reviews
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        %h3.text-center.item-review-title-font Your newest reviews.
        -if user.reviews.size == 0
          -# message for no reviews
          .user-item-review-area
            %h4.text-center You didn't publish any reviews yet.
        - else
          -# loop showing last 5 reviews
          - user.reviews.limit(5).each do |review|
            .user-item-review-area
              %h4.text-center.user-review-text= truncate(review.content, length: 40, separator: ' ')
              %p.text-center.text-muted= review.created_at.strftime("%e %B %Y")

