= form_for category do |f|
  - if category.errors.any?
    #error_explanation
      %h4.text-center.text-muted= "#{pluralize(category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - category.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    = f.text_field :name, class: 'form-control', placeholder: 'Name of category.'
    %br/
  .form-actions
    = f.submit 'Save category', class: 'btn btn-block custom-primary-btn-login-signup'
