.col-lg-12.col-md-12.col-sm-12.col-xs-12
  .main-logo-icon=image_tag('Main_Logo.png')
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h1.text-center.head-font REVIEWS ARE SIMPLE
    %h3.text-center.second-head-font WRITE AND READ REVIEWS

  .col-lg-offset-1.col-md-offset-1.col-sm-offset-0
    .col-lg-11.col-md-11.col-sm-12.col-xs-12
      .row

        - categories.each do |category|
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = link_to category do
              .category-button
                %h4.text-center= category.name.upcase
              - if current_user.try(:admin?)
                .col-lg-offset-3.col-md-offset-3.col-sm-offset-4.col-xs-offset-3
                  %button.btn.btn-defaultx.custom-btn-admin= link_to 'Edit', edit_category_path(category)
                  %button.btn.btn-default.custom-btn-admin= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }

      - unless user_signed_in?
        .col-lg-offset-2
          .col-lg-10
            %button.btn.btn-default.btn-block.custom-btn-user-signup= link_to 'Sign up', new_user_registration_path
            %br/
            %br/
            %br/
            %br/

      - if current_user.try(:admin?)
        .col-lg-offset-2
          .col-lg-10
            %br/
            %br/
            %button.btn.btn-default.btn-block.custom-primary-btn-login-signup= link_to 'New Category', new_category_path
            %br/
            %br/
            %br/
            %br/
