.col-lg-12.col-md-12.col-sm-12.col-xs-12
  .background
    %h1.text-center= category.name.capitalize

    .row
      - category.products.each do |product|
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          = link_to [category, product] do
            .thumbnail
              .caption
                %h4.text-center= product.title.capitalize
                %p.text-center.text-muted= number_to_currency(product.price, precision: 2, separator: ",", format: "%u %n")
                %p.text-center= product.description
                %p.text-center.text-muted= product.average_rating

-if user_signed_in?
  %p
    %h3 New product
    = render 'products/form'

- if current_user.try(:admin?)
  = link_to 'Edit', edit_category_path(category)

.btn.btn-default.btn-block= link_to 'Go back to main page', categories_path
