.col-lg-offset-2.col-md-offset-1.col-sm-offset-1
  .col-lg-8.col-md-10.col-sm-10.col-xs-12
    .background
      %h1.text-center= product.title.upcase
      %h3.text-center.text-muted= number_to_currency(product.price, precision: 2, separator: ",", format: "%u %n")
      %hr
        .thumbnail
          .caption
            %p= product.description

.col-lg-offset-3.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
  .col-lg-6.col-md-10.col-sm-10.col-xs-10
    %h4.text-center.text-muted Reviews
    .thumbnail
      .caption
        = render reviews

    -if user_signed_in?
      %hr
      = render 'reviews/form'
      = link_to 'Edit', edit_category_product_path(category.id, product.id)

    %hr

.col-lg-offset-2.col-sm-offset-1.col-xs-offset-1
  .col-lg-8.col-md-10.col-sm-10.col-xs-10
    .btn.btn-default.btn-block= link_to 'Back', [category]
