%nav.navbar.navbar-default.navbar-modified
  .container-fluid
    .row
      .pull-left.icon-left-logo= link_in_image('Small Logo Link.png', root_path, class: 'navbar-small-link-image')
      - if user_signed_in?

        .pull-right.btn.btn-default= link_to "Log out", destroy_user_session_url, method: :delete
        .pull-right.btn.btn-default= link_to "Edit settings", edit_user_registration_path
        .pull-right.btn.btn-default= link_to "Profile", current_user
      - else
        .pull-right.icon-right-login= link_in_image('Login Icon.png', new_user_session_path, alt: "Log In")
        .pull-right.icon-right-login= link_in_image('Signup Icon.png', new_user_registration_path, alt: "Sign Up" )