%nav.navbar.navbar-default.navbar-modified
  .container-fluid
    .row
      .pull-left.icon-left-logo= link_in_image('Small_Logo_Link.png', root_path, class: 'navbar-small-link-image')
      - if user_signed_in?
        .pull-right.icon-right-login= link_in_image('Logout_Icon.png', destroy_user_session_url, {alt: "Log out"}, {method: :delete} )
        .pull-right.icon-right-login= link_in_image('Edit_Settings.png', edit_user_registration_path, alt: "Edit Settings")
        .pull-right.icon-right-login= link_in_image(current_user.gravatar_url, current_user, { alt: "Profile", })
      - else
        .pull-right.icon-right-login= link_in_image('Login_Icon.png', new_user_session_path, alt: "Log In")
        .pull-right.icon-right-login= link_in_image('Signup_Icon.png', new_user_registration_path, alt: "Sign Up" )